<% if @model == 'user' %>
  <h3>User search for<%=@word %></h3>
  <%=render 'users/index', user: @records %>
<% else @model == 'book' %>
  <h3>Book search for<%= @word %></h3>
  <%= render 'book/index, book: @records %>
<% end %>