<% if @model == 'user' %>
 <h3>User search for<%= @content %></h3>
 <%= render 'users/index', users: @records %>
<% elseif @model == 'book' %>
 <h3>Book search for "<%= @content %>"</h3>
 <%= render 'book/index', books: @records %>
<% end %>
